:root{
  margin: 0;
  padding: 0;
}
/* 
MAIN AXIS=Eje principal(horisontal- width)
MAIN SIZE= Espacio principal -> width
CROSS AXIS=Eje secundario( vertical)
CROSS SIZE -> Espacio del cross axiss -> Height
 */
header{
  color: blue;
  text-align: center;
}
.container{
width: 90%;
background-color: steelblue;
height: 500px;
display: flex;
flex-flow: row wrap;
align-content: flex-end;
justify-content: space-around
}
.item{
 width: 100px;
 height: 100px;
 background: grey;
 border: 2px solid ;
 box-sizing: border-box;
 font-size: x-large;
}
